
@font-face {
  font-family: Cyber;
  src: url('../font/cyberpunk.otf');
  font-display: swap;
}
@media only screen and (max-width: 700px){
  img{
    max-width: 250px;
  }
  .text-center > div{
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 701px){
  img{
    width: 250px;
  }
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 97vh;
  font-family: 'Cyber', sans-serif;
  background: linear-gradient(90deg, #f5ed00 70%, #e6de00 70%), #fff700;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.main-div{
  margin-top: 10px;
}
.text-center{
  text-align: center;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.middle{
  vertical-align: middle;
}

.no-x-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.hidden{
  display: none !important;
}

a:visited{
  text-decoration: underline;
  color: black;
}

a{
  text-decoration: underline;
  color: black;
}